* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*min-width: 90%;*/
  /*max-width: 400px;*/
  margin: 0 auto;
  width: 90vw;
  max-width: 400px;
}
.progressContainer{
  /*flex-grow: 1;*/
  /* max-height: 40px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
}

.lineContainer{
  position: absolute;
  width: 90%;
  z-index: -1;
}

.greyline{
  height: 4px;
  background-color: grey;
  position: absolute;
  width: 100%;
  /* max-width: 400px; */
}
.blueline{
  height: 4px;
  background-color: blueviolet;
  position: absolute;
  /* top: 25%; */
  left: 0;
  width: 0%;
  /* max-width: 400px; */
  transition: width 0.4s ease;
}

.bolasContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*max-width: 400px;*/
  /*margin: 0 5vw;*/
  flex-grow: 1;
  /*flex-basis: 90vw;*/
}

.bolas{
  width: 40px;
  height: 40px;
  border: grey solid 4px;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  font-size: 20px;
  background-color: white;
  transition: border-color 0.4s ease;
} 

.buttonContainer{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  /* width: 100px; */
  padding: 8px 30px;
  margin: 10px;
  font-size: 16px;
  border-radius: 4px;
  background-color: darkgray;
  color: blueviolet;
  border: none;
  font-weight: 800;
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

button:focus {
  outline: 0;
}

button:disabled {
  cursor: not-allowed;
  color: thistle;
}

.bolas.activa{
  border-color: blueviolet;
}